#bottom-div {
	margin-top: 20px;
}

#form {
	border: 2px solid black;
	padding: 20px;
	border-radius: 4px;
	font-family: 'Lato', sans-serif;
	width: 30%;
	font-size: 17px;
}

th, td, input, span {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

#top {
	font-family: 'Lato', sans-serif;
}

#btnAddCustomer {
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

td {
	padding: 3px;
}